.Congratulations {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 10vmin;
  left: 20vw;
  width: 60vw;
  height: 40vh;
  margin: auto;
  font-size: 8vmin;
  overflow: hidden;
  text-align: center;
}
